
<form class="form form-horizontal">
    <fieldset class="well">
        <div class="alert alert-error fade in failed" style="display:none">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Oops!</strong> A problem occurred saving these options.
        </div>
        <div class="alert alert-success fade in saved" style="display:none">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Success!</strong> Options have been successfully saved!
        </div>
        <div class="control-group">
            <label class="control-label" for="profile">Profile File</label>
            <div class="controls">
                <input type="text" id="profile" value="<%=profile%>" class="span8 profile"
                       required="required"
                       data-error="Please select .emo file.">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="voice">Voice</label>
            <div class="controls">
                <select id="voice" class="input-medium voice" required="required" value="<%=voice%>" data-error="Please select a voice.">
                    <option value="Alex">Alex</option>
                    <option value="Bruce">Bruce</option>
                    <option value="Fred">Fred</option>
                    <option value="Ralph">Ralph</option>
                    <option value="Tom">Tom</option>
                    <option value="Kathy">Kathy</option>
                    <option value="Vicki">Vicki</option>
                    <option value="Victoria">Victoria</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="rate">Rate</label>
            <div class="controls">
                <input type="number" value="<%=rate%>" min="100" max="400" id="rate" class="input-medium rate"
                       data-error="Please give a voice rate.">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="throttle">Throttle Time</label>
            <div class="controls">
                <input type="number" value="<%=throttle%>" min="300" max="5000" id="throttle" class="input-medium throttle"
                       data-error="Please give a throttle time between events in milliseconds.">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="deltaX">Delta X Movement</label>
            <div class="controls">
                <input type="number" value="<%=deltaX%>" min="1" max="50" id="deltaX" class="input-medium deltaX"
                       data-error="Please give a delta for X movement to trigger left/right moves.">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="deltaY">Delta Y Movement</label>
            <div class="controls">
                <input type="number" value="<%=deltaY%>" min="1" max="50" id="deltaY" class="input-medium deltaY"
                       data-error="Please give a delta for Y movement to trigger up/down moves.">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-small btn-primary save"><i class="icon-ok icon-white"></i> <strong>Save</strong></button>
            </div>
        </div>


        <!--<ul>-->
        <!--<li>Profile: <input type="text" class="search-query span10 profile"></input></li>-->
        <!--</ul>-->
    </fieldset>
</form>
